*{
    margin: 0 !important;
    padding: 0 !important;
}


.auth-container{
  width: 100%;
  height: 100vh;
  background-color: rgba(14, 56, 47, 1);
 
}
.images{
  position: relative;
   width: 100%;
  height: 100vh;
}
.bg-overlay{
   position: absolute; 
   right: 0;
   top: 0;
  z-index: 0; 
}
 .sec-img{
  width: 260px;
  height: 350px;
   position: absolute; 
   bottom: 0;
   z-index: 1;
   background-image: url(assets/images/home-2.png); 
   /* background-color: aliceblue; */
} 
.form-container{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* background-color: rgba(49, 89, 81, 0.9); */

} 
.login-form{
  background-color: rgba(49, 89, 81, 0.9);
  margin-top: auto;

}
/* ////login////// */

.bg-login{
   position: absolute; 
   right: 0;
   top: 0;
   z-index: 0; 
   width: 440px;
   height: 100%;
   background-image: url(assets/images/login-top.png); 
   background-size: cover;

  
}
 .log-img{
  width: 360px;
  height: 450px;
   position: absolute; 
   bottom: 0;
   z-index: 1;
   background-image: url(assets/images/login-down.png); 
   /* background-color: aliceblue; */
   background-size: cover;
}
.login-line{
  width: 15px;
  height: 2px;
  background-color: rgba(239, 155, 40, 1);
}
.title span{
  font-size: 13px;
}
.form-control{ 
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid white !important;
  padding-left: 0 !important;
  background-color: transparent !important;
  color: white !important;
}
.form-control:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  color: white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}
.custom-input .form-control::placeholder{
  color: white !important;
  opacity: 1 !important;
}

/* ///////forget///// */
.bg-forget{
   position: absolute; 
   right: 0;
   top: 0;
   z-index: 0; 
   width: 440px;
   height: 100%;
   background-image: url(assets/images/forget-top.png); 
   background-size: cover;

  
}
 .forget-img{
  width: 360px;
  height: 450px;
   position: absolute; 
   bottom: 0;
   z-index: 1;
   background-image: url(assets/images/forget-down.png); 
   /* background-color: aliceblue; */
   background-size: cover;
}
/* //////////////reset and register////// */
.bg-reset{
   position: absolute; 
   right: 0;
   top: 0;
   z-index: 0; 
   width: 440px;
   height: 100%;
   background-image: url(assets/images/reset-top.png); 
   background-size: cover;
}
 .reset-img{
  width: 360px;
  height: 450px;
   position: absolute; 
   bottom: 0;
   z-index: 1;
   background-image: url(assets/images/reset-down.png); 
   /* background-color: aliceblue; */
   background-size: cover;
}
.circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(assets/images/user.jpg);
  background-size: cover;
  margin: auto !important;
}

/* .white-placeholder::placeholder {
  color: white;
  opacity: 1;
}

.white-placeholder::-webkit-input-placeholder {
  color: white;
}

.white-placeholder:-ms-input-placeholder {
  color: white;
} */


.my-bg{
  background-color:  rgba(49, 74, 89, 0.9)
 ;
}


/* ////////////////////////////////////////////////// */



/* //////////navbar////////// */

/* .navbar-container{
  border-right: 1px solid gray;
} */
/* .navbar{
  position: fixed !important;
} */
.nav-line{
  width: 1px;
  height: 30px;
  margin-top: 7px !important;
  background-color: rgb(179, 179, 179);

}
.user-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* background-image: url(); */
  background-color: brown;
}
.navbar-icon i{
  color: rgba(239, 155, 40, 1);
  font-size: 28px;

}
/* .navbar-icon{
  position: relative;
}
.nav-bell{
  position: absolute;
  z-index: 0;
} */
/* .icon-count{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(239, 155, 40, 1);
  color: white;
  position: absolute;
  z-index: 1;
} */
/* /////////////////sidebar//////// */

.sidebar-icon i{
  background-color: rgba(239, 155, 40, 1);
  color: white;
  border-top-right: 5px;
}

.sidebar-container .ps-sidebar-container{ 
    color: white;
    min-height: 100vh;
    background-color: rgba(14, 56, 47, 1);
}
.sidebar-container .ps-menu-button{
    transition: all 0.2s;
} 
.sidebar-container .ps-menu-button:hover {
    background-color: rgba(239, 155, 40, 0.3) !important;
}  
/* //////header////////// */
.header-container{
  height: 250px;
  background-image: url(assets/images/home-bg.png);
  background-size: cover;
}


.table-head th{
  background-color: rgba(49, 89, 81, 0.9) !important;
  /* background-color: rgba(242, 242, 242, 0.9) !important; */
  color: white !important;
  padding: 10px !important;
  border-right: 1px solid gray !important;
  font-weight: 400;
}

.table-body td{
  padding: 10px !important;
}

/* /////////////////////////////// */

.form-input{
  border: 1px solid rgba(242, 242, 242, 0.9) !important;
  color: black !important;
}
.btns button{
  width: 100px !important;
}
.add-proj{
  margin: auto!important;
}

/* ////////////////////////////////// */
.td-style{
    background-color: rgba(49, 89, 81, 0.9) !important;
    border-radius: 20px;
    
}